.btn{
    padding:10px;
    background-color: transparent;
    outline: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    width:10rem;
}